/* 이미지슬라이드 */
@import '../_theme.scss';

/* 메인 */

.Main-banner {
  // width: 100%;
  height: auto;
  // swiper 시 가로 나열을 위해 row nowrap 사용
  display: flex;
  flex-flow: row nowrap;
  // 가운데 정렬
  justify-content: center;
}

.today-recomend-product {
  background-color: yellow;
  width: 1050px;
  display: flexbox;
  justify-content: center;
}

.line-banner {
  background-color: greenyellow;
}

.good-price-product {
  background-color: aquamarine;
}
/* 푸터 */
.footer {
  background-color: white;
}
